<a href="https://colab.research.google.com/github/arifaa8/DiabeticDeseasePred_Exposys_Data_Labs_Intern/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("diabetes.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [23]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [24]:
df.DiabetesPedigreeFunction

0      0.627
1      0.351
2      0.672
3      0.167
4      2.288
       ...
763    0.171
764    0.340
765    0.245
766    0.349
767    0.315
Name: DiabetesPedigreeFunction, Length: 768, dtype: float64

In [25]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [26]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [27]:
df.Outcome

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
train_x ,test_x ,train_y ,test_y = train_test_split(df[["DiabetesPedigreeFunction","Age","BMI","BloodPressure","Glucose","Pregnancies","SkinThickness","Insulin"]],df.Outcome,test_size=0.2,random_state=0)

In [30]:
train_x.head()

     DiabetesPedigreeFunction  Age   BMI  ...  Pregnancies  SkinThickness  Insulin
603                     0.692   54  35.2  ...            7             29      126
118                     0.443   22  28.2  ...            4             23        0
247                     0.427   23  52.3  ...            0             33      680
157                     0.833   23  25.2  ...            1             21      135
468                     0.183   38  30.0  ...            8              0        0

[5 rows x 8 columns]

In [31]:
test_x

     DiabetesPedigreeFunction  Age   BMI  ...  Pregnancies  SkinThickness  Insulin
661                     1.394   22  42.9  ...            1             43        0
122                     0.404   23  33.6  ...            2             30      100
113                     0.391   25  34.0  ...            4              0        0
14                      0.587   51  25.8  ...            5             19      175
529                     0.660   31  24.6  ...            0              0        0
..                        ...  ...   ...  ...          ...            ...      ...
476                     0.711   29  33.7  ...            2             45      191
482                     0.306   28  27.8  ...            4             22       49
230                     0.645   22  44.0  ...            4              0        0
527                     0.107   24  26.3  ...            3             15      105
380                     0.821   24  30.8  ...            1             30       82

[154 rows x 8 columns]

In [32]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [33]:
model.fit(train_x,train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
model.predict(test_x)

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [35]:
print(test_y)

661    1
122    0
113    0
14     1
529    0
      ..
476    1
482    0
230    1
527    0
380    0
Name: Outcome, Length: 154, dtype: int64

In [53]:
print("Accuracy Of Model ",100*model.score(train_x,train_y),"%")

Accuracy Of Model  77.19869706840392 %

In [56]:
print("Let's Predict For the set of for 661th Coloumn of dataset")
print(df[661:662])
print("Actual OutCome :",df.Outcome[661:662])
print("Predicted By Model :",model.predict([[1.394,	22,	42.9,	76,	199,	1,	43,	0]]))

Let's Predict For the set of for 661th Coloumn of dataset
     Pregnancies  Glucose  ...  Age  Outcome
661            1      199  ...   22        1

[1 rows x 9 columns]
Actual OutCome : 661    1
Name: Outcome, dtype: int64
Predicted By Model : [1]